// Base
$base-fz: 16px;
$font-open-sans: "Open Sans", sans-serif;
$font-epilouge: "Epilogue", sans-serif;
$ff-averia-libre: "Averia Libre", cursive;

// Colors
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$clr-101010: #101010;
$clr-363636: #363636;
$clr-565656: #565656;
$clr-6D6D6D: #6d6d6d;
$clr-9A9A9A: #9a9a9a;
$clr-A7A7A7: #a7a7a7;
$clr-C7BC8E: #c7bc8e;
$clr-C4C4C4: #c4c4c4;
$clr-F3F3F3: #f3f3f3;
$clr-EEF6FC: #eef6fc;
$clr-f4f4f4: #f4f4f4;
$clr-ECF1FF: #ecf1ff;
$clr-11C700: #11c700;
$clr-50AC97: #50ac97;
$clr-1DB578: #1db578;
$clr-012646: #012646;
$clr-152243: #152243;
$clr-003767: #003767;
$clr-004C8F: #004c8f;
$clr-2A6877: #2a6877;
$clr-3D5970: #3d5970;
$clr-1D2C57: #1d2c57;
$clr-F99D27: #f99d27;
$clr-FE7500: #fe7500;
$clr-ED1C24: #ed1c24;
$clr-E43D30: #e43d30;
$clr-F6F4F4: #f6f4f4;

// Media Sizes
$break-1444: 1444px;
$break-1340: 1340px;
$break-1280: 1280px;
$break-1200: 1200px;
$break-1080: 1080px;
$break-993: 993px;
$break-991: 991px;
$break-767: 767px;

/*
@media (max-width: $break-767) {}
*/
