// Fonts
$bodyFont: "Outfit", sans-serif;
$headingFont: "Abril Fatface", serif;

@mixin headingXL {
  font-size: 60px;

  @include xl {
    font-size: 48px;
  }

  @include lg {
    font-size: 32px;
  }
}

@mixin headingL {
  font-size: 50px;

  @include lg {
    font-size: 30px;
  }
}

@mixin headingOne {
  font-size: 40px;

  @include lg {
    font-size: 28px;
  }
}

@mixin headingTwo {
  font-size: 32px;

  @include lg {
    font-size: 24px;
  }
}

@mixin headingThree {
  font-size: 28px;

  @include lg {
    font-size: 20px;
  }
}

@mixin headingFour {
  font-size: 24px;

  @include lg {
    font-size: 20px;
  }
}

@mixin headingFive {
  font-size: 20px;

  @include lg {
    font-size: 18px;
  }
}

@mixin headingSix {
  font-size: 16px;
}

@mixin paraL {
  font-size: 18px;
  line-height: 1.5;

  @include lg {
    font-size: 16px;
  }
}
