// Footer One
.footer-one {
    .logo {
        display: inline-block;
    }
    h4 {
        font-size: 0.9em;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 24px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            margin-bottom: 16px;
        }
    }
    .quick-links {
        font-size: 0.9em;
        li {
            a {
                display: inline-block;
                color: $clr-050101;
            }
            + li {
                margin-top: 10px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    margin-top: 6px;
                }
            }
        }
    }
}
