// Footer
#main-footer {
    padding-bottom:80px;
    /* ----- Max Width 767px ----- */
    @media (max-width: $break_767) {
        padding-bottom:30px;
    }
    .divider {
        margin:20px 0;
        height:1px;
        background-color:#dadada;
        position: relative;
        text-align: center;
        span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: $white-clr;
            padding: 0px 50px;
            /* ----- Max Width 767px ----- */
            @media (max-width: $break_767) {
                padding:0 20px;
            }
            a {
                display: inline-block;
                width:68px;
                /* ----- Max Width 767px ----- */
                @media (max-width: $break_767) {
                    width:40px;
                }
                img {
                    width:100%;
                }
            }
        }
    }
    .col-f {
        margin-top:60px;
        /* ----- Max Width 767px ----- */
        @media (max-width: $break_767) {
            margin-top:30px;
        }
    }
    h4 {
        font-size:30px;
        line-height:60px;
        font-weight:600;
        margin-bottom:20px;
        color: #031B4E;
        /* ----- Max Width 767px ----- */
        @media (max-width: $break_767) {
            font-size:22px;
            line-height:32px;
            margin-bottom:20px;
        }
    }
    p {
        line-height:24px;
        color:#5B6987;
        margin-bottom:32px;
        max-width:270px;
        /* ----- Max Width 767px ----- */
        @media (max-width: $break_767) {
            font-size:14px;
            line-height:22px;
            max-width:unset;
            margin-bottom:15px;
        }
    }
    .btn-sec {
        /* ----- Max Width 767px ----- */
        @media (max-width: $break_767) {
            display: flex;
            justify-content:space-between;
        }
        .btn {
            font-size: 12px;
            line-height: 1;
            padding: 12px 20px;
            min-width: 110px;
            font-weight: 500;
            text-transform: capitalize;
            +.btn {
                margin-left:10px;
            }
        }
    }
    .social-list {
        height:110px;
        max-width:210px;
        position: relative;
        margin-bottom: 24px;
        .social {
            display: inline-block;
            position: absolute;
            border-radius:50%;
            overflow: hidden;
            box-shadow: 0px 5px 35px rgba(222, 222, 222, 0.25);
            &.social1 {
                bottom:4px;
                left:0;
                z-index:5;
            }
            &.social2 {
                top:0;
                left:52px;
                z-index:4;
            }
            &.social3 {
                bottom:0;
                right:24px;
                z-index:3;
            }
            &.social4 {
                right:0;
                top:10px;
                z-index:2;
            }
            &:hover {
                z-index:9;
            }
            img {
                max-width:100%;
            }
        }
    }
    .contact-info {
        display: flex;
        /* ----- Max Width 767px ----- */
        @media (max-width: $break_767) {
            font-size:14px;
        }
        div {
            &:first-child {
                margin-right:24px;
            }
            span {
                display: block;
                line-height:24px;
                margin-bottom:10px;
                color:#5B6987;
                /* ----- Max Width 767px ----- */
                @media (max-width: $break_767) {
                    line-height:22px;
                }
            }
            a {
                color:#031B4E;
                display: inline-block;
                line-height:24px;
                /* ----- Max Width 767px ----- */
                @media (max-width: $break_767) {
                    line-height:22px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .links {
        li {
            a {
                color: #031B4E;
                display: inline-block;
                margin-bottom:30px;
                font-weight:600;
                font-size:18px;
                /* ----- Max Width 767px ----- */
                @media (max-width: $break_767) {
                    font-size:14px;
                    margin-bottom:15px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .copyright {
        font-size:14px;
        line-height:24px;
        color:#5B6987;
        /* ----- Max Width 767px ----- */
        @media (max-width: $break_767) {
            font-size:12px;
            line-height:20px;
        }
    }
}