// Donate One
.donateOne {
  padding: 80px 0;
  background-size: cover;
  background-position: center bottom;

  @include md {
    padding: 40px 0;
  }

  .sectionTitle {
    h1 {
      color: clr(light, outline);
    }
  }
}
