// Buttons
.btn {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4;
    border: none;
    border-radius: 0;
    padding: 12px 20px;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
        text-shadow: none;
        text-decoration: none;
    }

    // Max 767px
    @media (max-width: $break-767) {
        padding: 8px 14px;
    }
}

// Btn White
.btn-white {
    color: $clr-1E1E1E !important;
    background-color: $white-clr !important;
    &:hover,
    &:focus {
        color: $clr-1E1E1E !important;
        background-color: darken($white-clr, 5%) !important;
    }
}

// Btn Main
.btn-main {
    color: $white-clr !important;
    background-color: $clr-E8A61E !important;
    &:hover,
    &:focus {
        color: $white-clr !important;
        background-color: darken($clr-E8A61E, 5%) !important;
    }
}
