// Main Header
.mainHeader {
    padding: 15px 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

    .btn {
        width: 100%;
        max-width: 150px;
    }

    .rightSec {
        text-align: right;
    }
}