/* ----- Hero Banner ----- */
#ff-banner {
    background-color: $primary-clr;
    padding-top: 120px;
    /* Max width 991px */
    @media (max-width: $break_991) {
        padding-top: 100px;
    }
    .ff-heading {
        margin-top: 60px;
        margin-bottom: 0;
        /* Max width 991px */
        @media (max-width: $break_991) {
            margin-top:0;
        }
        h2 {
            font-size: 70px;
            line-height: 82px;
            color: #FCD1E6;
            /* Max width 991px */
            @media (max-width: $break_991) {
                font-size: 36px;
                line-height: 44px;
            }
            span {
                color: $white-clr;
            }
        }
        p {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 0;
            color: $white-clr;
            /* Max width 991px */
            @media (max-width: $break_991) {
                font-size: 16px;
                line-height: 22px;
            }
        }
        .btn-sec {
            margin-top: 60px;
            /* Max width 991px */
            @media (max-width: $break_991) {
                margin-top: 24px;
                margin-bottom: 32px;
            }
            .btn {
                min-width: 215px;
                /* Max width 991px */
                @media (max-width: $break_991) {
                    width: 100%;
                    padding: 14px;
                    line-height: 20px;
                }
            }
        }
    }
    .img-sec {
        position: relative;
        .ptrn {
            position: absolute;
            top: 0;
            right: 0;
            width: 258px;
            /* Max width 991px */
            @media (max-width: $break_991) {
                width: 148px;
            }
            img {
                width: 100%;
            }
        }
        #main-img {
            max-width: 660px;
            /* Max width 991px */
            @media (max-width: $break_991) {
                width: 100%;
            }
        }
    }
}

/* ----- Make a Difference ----- */
#ff-difference {
    padding: 100px 0;
    /* Max width 991px */
    @media (max-width: $break_991) {
        padding: 60px 0;
    }
    .ptrn-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 92px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .ptrn-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 92px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            width: 60px;
        }
        img {
            width: 100%;
        }
    }
    .ff-heading {
        text-align: center;
        margin-bottom: 60px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            margin-top: 30px;
            text-align: left;
            margin-bottom: 24px;
        }
        p {
            max-width: 414px;
            margin: auto;
        }
    }
    .item-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        label {
            width: calc(30% - 10px);
            text-align: left;
            /* Max width 767px */
            @media (max-width: $break_767) {
                width: 100%;
            }
            + label {
                /* Max width 767px */
                @media (max-width: $break_767) {
                    margin-top: 12px;
                }
            }
            .details {
                .img-sec {
                    border-radius: 20px;
                    overflow: hidden;
                    /* Max width 991px */
                    @media (max-width: $break_991) {
                        border-radius: 10px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .text {
                    margin: 20px 0;
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 22px;
                        line-height: 28px;
                        font-weight: 700;
                        /* Max width 991px */
                        @media (max-width: $break_991) {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                    p {
                        font-size: 14px;
                        line-height: 18px;
                        margin: 0;
                        padding-left: 16px;
                        color: $grey2-clr;
                        /* Max width 991px */
                        @media (max-width: $break_991) {
                            font-size: 14px;
                            line-height: 20px;
                        }
                        /* Max width 767px */
                        @media (max-width: $break_767) {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
                .btn-sec {
                    a {
                        width: 100%;
                        color: $black-light;
                        background-color: $white-clr;
                        border: 1px solid $grey-clr;
                        border-radius:12px;
                        text-align: center;
                        display: block;
                        padding: 14px;
                        font-size: 16px;
                        line-height: 22px;
                        font-weight:600;
                    }
                }
            }
            &.big {
                width: calc(40% - 10px);
                padding: 24px;
                /* Max width 991px */
                @media (max-width: $break_991) {
                    padding: 14px;
                }
                /* Max width 767px */
                @media (max-width: $break_767) {
                    width: 100%;
                }
                .details {
                    .text {
                        span {
                            font-size: 24px;
                            line-height: 30px;
                            /* Max width 991px */
                            @media (max-width: $break_991) {
                                font-size: 18px;
                                line-height: 24px;
                            }
                        }
                        p {
                            font-size: 20px;
                            line-height: 26px;
                            max-width: 300px;
                            /* Max width 991px */
                            @media (max-width: $break_991) {
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                    }
                    .btn-sec {
                        a {
                            color: $white-clr;
                            background-color: $primary-clr;
                            border: 1px solid $primary-clr;
                        }
                    }
                }
            }
        }
    }
}

/* ----- How It Works ----- */
#ff-work {
    background-color: $secondary-clr;
    padding: 100px 0;
    /* Max width 991px */
    @media (max-width: $break_991) {
        padding: 60px 0;
    }
    .ff-heading {
        max-width: 530px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            margin-top: 24px;
            margin-bottom: 20px;
        }
        h6, h2, p {
            color: $white-clr;
        }
    }
    .img-sec {
        img {
            width: 100%;
        }
    }
    .fundraising-slider1 {
        margin-top: 100px;
        padding-left: 7%;
        @media (min-width: $break_767 + 1px) and (max-width: $break_991) {
            padding-left: 0;
        }
        /* Max width 991px */
        @media (max-width: $break_991) {
            margin-top: 30px;
        }
        /* Max width 767px */
        @media (max-width: $break_767) {
            padding-left: 15px;
        }
    }
    .owl-stage {
        left: -130px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            left: -15px;
        }
    }
}

/* ----- About ----- */
#ff-about {
    padding:100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding:60px 0;
    }
    .content {
        max-width: 1064px;
        margin: auto;
        position: relative;
    }
    .ptrn-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 92px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            width: 60px;
        }
        img {
            width: 100%;
        }
    }
    .ff-heading {
        /* Max width 767px */
        @media (max-width: $break_767) {
            margin-top: 20px;
        }
        h2 {
            font-size: 36px;
            line-height: 44px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
    img {
        max-width: 100%;
    }
    .content1 {
        margin-bottom: 100px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            margin-bottom: 40px;
        }
    }
    .video-bg {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        line-height: 0;
        img {
            width: 100%;
        }
        iframe {
            width: 100%;
            min-height: 400px;
            display: none;
        }
        .play-btn {
            position: absolute;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background: transparent;
            border: none;
            outline: none;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
            /* Max Width 991px */
            @media (max-width: $break_991) {
                width:80px;
                height:80px;
            }
            img {
                width: 100%;
            }
        }
    }
}

/* ----- Our Partners ----- */
#ff-partners {
    background-color: $secondary-clr;
    padding: 100px 0;
    /* Max width 991px */
    @media (max-width: $break_991) {
        padding: 60px 0;
    }
    .ff-heading {
        text-align: center;
        h6, h2, p {
            color: $white-clr;
        }        
        h2 {
            font-size: 36px;
            line-height: 44px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 22px;
                line-height: 28px;
            }
        }
        p {
            max-width: 670px;
            margin: auto;
        }
    }
    .btn-sec {
        text-align: center;
        margin-top: 60px;
        /* Max width 767px */
        @media (max-width: $break_767) {
            margin-top: 20px;
        }
        .btn {
            min-width: 190px;
            /* Max width 767px */
            @media (max-width: $break_767) {
                line-height: 26px;
            }
        }
    }
}

/* ----- User Modal ----- */
.user-modal {
	.modal-dialog {
        max-width: 630px;
        .modal-content {
            border-radius: 20px;
            border: none;
            /* Max width 767px */
            @media (max-width: $break_767) {
                border-radius: 14px;
            }
            .modal-body {
                padding: 60px 60px 100px;
                /* Max width 767px */
                @media (max-width: $break_767) {
                    padding: 30px 20px;
                }
                .close {
                    position: absolute;
                    opacity: 1;
                    top: 45px;
                    right: 45px;
                    width: 14px;
                    height: 14px;
                    &:focus {
                        outline: none;
                    }
                    /* Max width 767px */
                    @media (max-width: $break_767) {
                        top: 35px;
                        right: 20px;
                    }
                    img {
                        width: 100%;
                    }
                }
                h5 {
                    font-size: 36px;
                    line-height: 44px;
                    font-weight: 700;
                    margin-bottom: 40px;
                    text-align: center;
                    letter-spacing: -1px;
                    /* Max width 767px */
                    @media (max-width: $break_767) {
                        font-size: 22px;
                        line-height: 28px;
                        margin-bottom: 25px;
                    }
                }
                form {
                    max-width: 414px;
                    margin: auto;
                }
                .btn {
                    /* Max width 767px */
                    @media (max-width: $break_767) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    &.btn-op25 {
                        opacity: 0.25;
                    }
                }                
                .input-phone {
                    .btn {
                        position: relative;
                        z-index: 9;
                        background: transparent;
                        margin-top: 2px;
                        margin-left: 20px;
                        font-weight: normal;
                        font-size: 20px;
                        border: none;
                        padding: 0;
                        height: 50px;
                        line-height: 25px;
                        /* Max width 767px */
                        @media (max-width: $break_767) {
                            font-size: 14px;
                            line-height: 18px;
                        }
                        &:after {
                            display: none;
                        }
                        .caret {
                            position: relative;
                            border: none;
                            margin: 0;
                            width: auto;
                            height: auto;
                            &:after {
                                content: "\f107";
                                border: none;
                                font-family: FontAwesome;
                                font-size: 16px;
                                right: -10px;
                                top: -14px;
                                position: absolute;
                                vertical-align: unset;
                                margin: 0;
                                /* Max width 767px */
                                @media (max-width: $break_767) {
                                    top: -10px;
                                }
                            }
                        }
                    }
                    .phoneNumber {
                        font-size: 1em;
                        line-height: 22px;
                        padding: 5px 24px;
                        background-color: #ffffff;
                        color: #101010;
                        border: 1px solid #DAE0E6;
                        border-radius: 12px;
                        padding-left: 130px;
                        /* Max width 767px */
                        @media (max-width: $break_767) {
                            font-size: 14px;
                            line-height: 18px;
                            padding-left: 100px;
                        }
                    }
                    .dropdown-menu {
                        min-width: 6.5rem;
                        text-align: center;
                        font-size: 20px;
                        li {
                            display: inline;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}