a,
button {
    outline: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 1em;
    cursor: pointer;
    &:focus,
    &:active,
    &:hover {
        outline: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
}

// Button
.btn {
    font-family: $secondary-ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border: none;
    border-radius: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 12px;
    }
    &:focus,
    &:active,
    &:hover {
        outline: none;
        box-shadow: none;
        text-shadow: none;
    }

    // Max 200
    &.btn-200 {
        width: 100%;
        max-width: 200px;
    }
    // Max 240
    &.btn-240 {
        width: 100%;
        max-width: 240px;
    }
    // Max 350
    &.btn-350 {
        width: 100%;
        max-width: 350px;
    }

    // Btn Main
    &.btn-main {
        color: $white-clr;
        background-color: $primary-clr;
        &:hover,
        &:focus {
            color: $white-clr;
            background-color: darken($primary-clr, 5%);
        }
    }
    // Btn White
    &.btn-white {
        color: $primary-clr;
        background-color: $white-clr;
        &:hover,
        &:focus {
            color: $primary-clr;
            background-color: darken($white-clr, 5%);
        }
    }
}
