// Form
input,
textarea,
select {
    outline: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
}

.form-group {
    margin-bottom: 16px;
    label {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        @media (max-width: $break_767) {
            margin-bottom: 10px;
        }
    }
}
.form-control {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    background-color: $white-clr;
    color: $clr-101010;
    border: none;
    border-radius: 0;
    height: auto !important;
    /* Max Width 767px */
    @media (max-width: $break_767) {
        font-size: 14px;
        line-height: 18px;
    }
    &::placeholder {
        color: $clr-184655;
    }
}

// Checkboox
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 24px;
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border: $border-1-solid $clr-E1FAEF;
        border-radius: 6px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 2px;
            width: 8px;
            height: 12px;
            border: solid $white-clr;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: $primary-clr;
            border-color: $primary-clr;
            &:after {
                display: block;
            }
        }
    }
}

// Radio
.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 24px;
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border: $border-1-solid $clr-E1FAEF;
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 6px;
            left: 6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $white-clr;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: $primary-clr;
            border-color: $primary-clr;
            &:after {
                display: block;
            }
        }
    }
}
