// Color
$colors: (
  primary: (
    main: #2a8d59,
    hover: #1d6d42,
    focus: #35b370,
    outline: #82ffbc,
  ),
  secondary: (
    main: #46a0a9,
    hover: #327a81,
    focus: #56c2cc,
    outline: #adf8ff,
  ),
  black: (
    main: #010101,
    hover: #212121,
    focus: #575757,
    outline: #c9c9c9,
  ),
  blue: (
    main: #0063f7,
    hover: #4583ff,
    focus: #7cacff,
    outline: #bdd9ff,
  ),
  light: (
    main: #ebebf0,
    hover: #f2f2f5,
    focus: #fafafa,
    outline: #ffffff,
  ),
);

@function clr($color, $value: main) {
  @return map-get(map-get($colors, $color), $value);
}
