// RESET
body {
    font-family: $primary-ff;
    font-size: $base-fz;
    line-height: 24px;
    font-weight: 400;
    color: $clr-646464;
    background-color: $white-clr;
    overflow-x: hidden;

    /* Max width 767px */
    @media (max-width: $break_767) {
        font-size: ($base-fz - 2px);
        line-height: 22px;
    }
}
ul,
ol {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-ff;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.2;
    color: inherit;
}
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.375em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.75em;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}

section {
    position: relative;
}

// Bootstrap
.container {
    @media (min-width: $break_1280 + 20px) {
        max-width: 1280px;
    }
    /* Max Width 991px */
    @media (max-width: $break_991) {
        max-width: 100%;
    }
}
