// Full Banner
.full-banner {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .banner-one {
        padding-top: 80px;
        padding-bottom: 240px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding-top: 40px;
            padding-bottom: 100px;
        }
        .section-heading {
            color: $white-clr;
        }
    }
}

// Help One
.help-one {
    background-color: $white-clr;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    .section-heading {
        // Min Width 768px
        @media (min-width: $break_767 + 1px) {
            margin-bottom: 0;
        }
        p {
            b {
                color: $secondary-clr;
            }
        }
    }
}

// CTA One
.cta-one {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h4 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: $white-clr;
        margin-bottom: 0;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            font-size: 18px;
            line-height: 26px;
        }
    }
}

// Packages One
.packages-one {
    background-color: $white-clr;
    .section-heading {
        max-width: 720px;
        display: inline-block;
    }
}

// Static One
.static-one {
    .section-heading {
        // Min Width 768px
        @media (min-width: $break_767 + 1px) {
            margin-bottom: 0;
        }
        p {
            b {
                color: $secondary-clr;
            }
        }
    }
    img {
        width: 100%;
    }
}

// Static Two
.static-two {
    .clipart {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
    }
    .img-sec {
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-top: 24px;
        }
        img {
            width: 100%;
        }
    }
    .section-heading {
        h2 {
            span {
                color: inherit;
                font-size: 0.8em;
            }
        }
    }
    .bg-white {
        padding: 55px 30px;
        max-width: 424px;
        h2 {
            font-size: 64px;
            font-weight: 700;
            line-height: 1.2;
            color: $primary-clr;
            margin-bottom: 0;
            text-align: center;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 40px;
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
            margin: 24px 0;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin: 16px 0;
            }
        }
    }
}

// Join Us One
.join-us-one {
    .content {
        background-color: $primary-clr;
        text-align: center;
        padding: 80px 15px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
        .section-heading {
            color: $white-clr;
            margin-bottom: 16px;
            p {
                max-width: 424px;
                display: inline-block;
            }
        }
    }
}

// Full Banner Two
.full-banner2 {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .banner-two {
        padding-top: 80px;
        padding-bottom: 120px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        .section-heading {
            max-width: 765px;
            display: inline-block;
            p {
                max-width: 680px;
                display: inline-block;
            }
        }
        img {
            width: 100%;
        }
    }
}

// Static Three
.static-three {
    padding: 40px 0;
    background-color: $white-clr;
    .section-heading {
        max-width: 765px;
        display: inline-block;
    }
}

// What One
.what-one {
    .bg-color {
        background-color: $primary-clr;
        padding: 80px;
        margin-bottom: 80px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
            margin-bottom: 40px;
        }
        .section-heading {
            color: $white-clr;
        }
    }
    .bg-white {
        padding: 100px;
        margin-bottom: 80px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 40px 15px;
            margin-bottom: 40px;
        }
    }
    .section-heading {
        // Min Width 768px
        @media (min-width: $break_767 + 1px) {
            margin-bottom: 0;
        }
    }
    .zakat-form {
        // Min Width 768px
        @media (min-width: $break_767 + 1px) {
            margin-top: 48px;
        }
        .col-cus {
            // Min Width 768px
            @media (min-width: $break_767 + 1px) {
                padding: 0 30px;
            }
        }
        h4 {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            padding-bottom: 16px;
            margin-bottom: 24px;
            border-bottom: 1px solid #f1f1f1;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 22px;
                line-height: 28px;
                padding-bottom: 12px;
            }
        }
        .form-control {
            border: 1px solid $primary-clr;
        }
        .form-group {
            margin-bottom: 24px;
        }
        .totals {
            p {
                text-transform: uppercase;
            }
            h3 {
                font-size: 36px;
                font-weight: 700;
                line-height: 42px;
                margin-bottom: 0;
                color: $primary-clr;
                font-family: sans-serif;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 26px;
                    line-height: 32px;
                }
            }
        }
    }
    .big-img {
        .content {
            max-width: 930px;
            display: inline-block;
            .section-heading {
                max-width: 820px;
                display: inline-block;
                margin-bottom: 40px;
            }
        }
    }
}

// Static Four
.static-four {
    padding: 40px 0;
    background-color: $white-clr;
    .section-heading {
        // Min Width 768px
        @media (min-width: $break_767 + 1px) {
            margin-bottom: 0;
        }
    }
}

// Collecting One
.collecting-one {
    .right-sec {
        background-color: $white-clr;
        .section-heading {
            text-align: center;
            padding: 40px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                padding: 30px 15px;
            }
            h2 {
                font-size: 24px;
                line-height: 32px;
            }
        }
        img {
            width: 100%;
        }
    }
}

// Packages Two
.packages-two {
    .section-heading {
        max-width: 720px;
        display: inline-block;
    }
    .package-box {
        border-color: #eeeada;
        &.package-box2 {
            // Min Width 768px
            @media (min-width: $break_767 + 1px) {
                margin-top: 20px;
                margin-bottom: -20px;
                height: calc(100% + 20px);
            }
        }
    }
}

// Static Five
.static-five {
    .section-heading {
        display: inline-block;
        max-width: 1080px;
        p {
            max-width: 720px;
            display: inline-block;
        }
    }
}

// Static Two
.static-six {
    .img-sec {
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-top: 24px;
        }
        img {
            width: 100%;
        }
    }
    .section-heading {
        display: inline-block;
        max-width: 1060px;
        h2 {
            display: inline-block;
            max-width: 600px;
            span {
                font-size: 0.8em;
                color: inherit;
                display: block;
                span {
                    display: inline;
                    color: $primary-clr;
                    font-size: 1em;
                }
            }
        }
    }
    .bg-white {
        padding: 90px 30px;
        max-width: 880px;
        margin: auto;
        /* Max Width 767px */
        @media (max-width: $break_767) {
            padding: 50px 30px;
        }
        h2 {
            font-size: 64px;
            font-weight: 700;
            line-height: 1.2;
            color: $primary-clr;
            margin-bottom: 0;
            text-align: center;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 40px;
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
            margin: 24px auto;
            max-width: 330px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin: 16px auto;
            }
        }
    }
}

// Donate One
.donate-one {
    padding-top: 50px;
    /* Max Width 767px */
    @media (max-width: $break_767) {
    }
    .donation-box2 {
        max-width: 930px;
        margin: auto;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding-left: 30px;
        }
        .clipart {
            position: relative;
            left: unset;
            top: unset;
        }
        h4 {
            margin-top: 40px;
            /* Max Width 767px */
            @media (max-width: $break_767) {
                margin-top: 24px;
            }
            span {
                color: $secondary-clr;
            }
        }
        .donate-shortlist {
            max-width: 490px;
            margin: auto;
            .radio-one {
                .txt {
                    font-family: sans-serif;
                }
            }
        }
        .custom-ammount {
            max-width: 490px;
            margin: 30px auto;
        }
    }
}
