// Donate Card One
.donateCardOne {
  min-height: 400px;
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 32px;
  display: flex;
  align-items: end;

  h1 {
    margin-bottom: 0;
    color: clr(light, outline);
  }
}

// Donate Card Two
.donateCardTwo {
  background-color: clr(secondary, main);
  text-align: center;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;

  @include md {
    min-height: 200px;
  }

  h1 {
    @include headingL;
    color: clr(light, outline);
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
    max-width: 150px;

    @include md {
      max-width: 100%;
    }
  }
}

// Donate Card Three
.donateCardThree {
  background-color: clr(light, outline);
  text-align: center;
  padding: 48px 24px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include md {
    min-height: 200px;
  }

  h1 {
    @include headingL;
    color: clr(primary, main);
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
    max-width: 150px;

    @include md {
      max-width: 100%;
    }
  }
}
