// Donate Card One
.donateCardOne {
  padding: 60px 32px;
  color: clr(black, main);
  background-color: clr(light, outline);
  text-align: center;

  h1 {
    @include headingL;
    font-weight: 600;
    color: inherit;
    margin-bottom: 24px;
  }

  .btnPrimary {
    color: clr(primary, main);
    width: 100%;
    max-width: 180px;

    @include md {
      max-width: 90%;
    }
  }
}
