// Heading
.section-heading {
    margin-bottom: 40px;

    /* Max Width 767px */
    @media (max-width: $break_767) {
        margin-bottom: 24px;
    }
    h6 {
        color: $primary-clr;
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 0;
        font-weight: 600;
        + h2 {
            margin-top: 24px;

            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-top: 10px;
            }
        }
        + p {
            margin-top: 30px;

            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-top: 22px;
            }
        }
    }
    h2 {
        color: inherit;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 0;
        letter-spacing: -1px;

        /* Max Width 991px */
        @media (max-width: $break_991) {
            font-size: 26px;
        }
        /* Max Width 767px */
        @media (max-width: $break_767) {
            font-size: 22px;
        }
        span {
            color: $primary-clr;
            display: block;
        }
        + p {
            margin-top: 30px;

            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-top: 22px;
            }
        }
    }
    p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.5;
        color: $clr-7A8193;

        /* Max Width 991px */
        @media (max-width: $break_991) {
            font-size: 16px;
        }
        + p {
            margin-top: 30px;

            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-top: 22px;
            }
        }
    }
}
