// Newsletter One
.newsletterOne {
  padding: 80px 0;
  background-color: clr(secondary, main);

  @include md {
    padding: 40px 0;
  }

  .bgBox {
    background-color: clr(light, outline);
    display: grid;
    align-items: center;
    grid-template-columns: auto 35%;

    @include md {
      grid-template-columns: 1fr;
    }

    .content {
      padding: 32px;

      @include md {
        padding: 24px;
      }

      .sectionTitle {
        margin-bottom: 32px;

        h1 {
          color: clr(primary, main);
        }
      }

      .form-group {
        max-width: 600px;
        display: flex;
        gap: 10px;
        border: 2px solid clr(black, outline);
        border-radius: 10px;
        padding: 5px;

        @include md {
          flex-wrap: wrap;
        }

        .inputBox {
          flex-grow: 1;
          flex-shrink: 0;

          .form-control {
            background-color: transparent;
          }
        }

        .btn {
          min-width: 150px;
          border-radius: 6px;

          @include md {
            width: 100%;
          }
        }
      }
    }
  }
}
