// Footer One
.footer-one {
    padding: 40px 0;
    background-color: $clr-3D3D3D;
    h4 {
        font-size: 1.2em;
        color: $white-clr;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid $secondary-clr;
    }
    .social-links {
        display: flex;
        li {
            a {
                display: inline-block;
                color: $white-clr;
                font-size: 1.5em;
            }
            + li {
                margin-left: 15px;
            }
        }
        + p {
            margin-bottom: 0;
            margin-top: 15px;
            a {
                color: $white-clr;
                display: inline-block;
            }
        }
    }
    .ul-list {
        li {
            border-bottom: 1px solid $clr-7E8499;
            padding-bottom: 15px;
            a {
                display: inline-block;
                color: $primary-clr;
            }
            + li {
                padding-top: 15px;
            }
        }
    }
}
