.footer
    padding: 80px 0

    .footerContainer
        .footerTop
            position: relative
            text-align: center
            margin-bottom: 80px

            &::before
                position: absolute
                top: 50%
                left: 0
                height: 1px
                background-color: #DAE0E5
                width: calc( 50% - 140px )
                content: ''
            
            &::after
                position: absolute
                top: 50%
                right: 0
                height: 1px
                background-color: #DAE0E5
                width: calc( 50% - 140px )
                content: ''

            a
                display: block

                img
                    width: 180px
                    height: auto

        .innerContainer
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-gap: 20px

            .footerItem
                h5
                    font-size: 36px
                    font-style: normal
                    line-height: 44px
                    letter-spacing: -0.02em
                    margin-bottom: 15px

                p
                    font-size: 18px
                    line-height: 24px
                    margin-bottom: 25px
                    max-width: 305px

                .footerBtn
                    a
                        display: inline-block
                        padding: 12px 40px
                        border-radius: 12px
                        color: $black
                        font-family: epilogue-medium
                        font-size: 14px
                        font-style: normal
                        line-height: 18px
                        letter-spacing: 0em
                        margin-right: 12px
                        margin-bottom: 12px


                        &.fbPrimary
                            background-color: $primary


                        &.fbWhite
                            background-color: $white

                ul
                    display: flex
                    align-items: center

                    li
                        display: block
                        background-color: $white
                        border-radius: 50%
                        box-shadow: 0px 10px 40px rgba(137, 153, 170, 0.2)

                        a
                            height: 100%
                            width: 100% 
                            display: block
                            margin: 0

                            img
                                width: 100%
                                height: 100%

                        &#yt
                            padding: 15px
                            width: 70px
                            height: 70px

                        &#ig
                            padding: 21px
                            width: 90px
                            height: 90px
                            margin-bottom: 35px
                            margin-left: -15px

                        &#fb
                            padding: 14px
                            width: 60px
                            height: 60px
                            margin-top: 20px
                            margin-left: -15px

                        &#tt
                            padding: 11px
                            width: 50px
                            height: 50px
                            margin-bottom: 40px
                            margin-left: -15px

                .spiltLink
                    display: flex
                    align-items: start
                    flex-wrap: wrap
                    gap: 20px 

                    .slItem
                        h6
                            font-family: epilogue-medium
                            font-size: 14px
                            font-style: normal
                            line-height: 18px
                            letter-spacing: 0em
                            margin-bottom: 10px
                            opacity: .5

                        p
                            font-size: 14px
                            font-style: normal
                            line-height: 18px
                            letter-spacing: 0em
                            

                .footerLink
                    a
                        display: block
                        margin-bottom: 25px
                        color: $white
                        font-family: epilogue-medium
                        font-size: 16px
                        font-style: normal
                        line-height: 22px
                        letter-spacing: 0em

                span
                    display: block
                    font-size: 14px
                    line-height: 24px
                    letter-spacing: 0em
                    text-align: left
                    opacity: .8
                    color: $text
                    max-width: 196px


// footer responsive
@media screen and (max-width: 767px)
    .footer
        padding-bottom: 35px
        
        .footerContainer
            .footerTop
                &::before,
                &::after
                    width: calc( 50% - 70px )

                a
                    img
                        width: 100px

            .innerContainer
                grid-template-columns: 1fr
                grid-gap: 35px

                .footerItem
                    h5
                        font-size: 22px
                        line-height: 28px

                    p
                        max-width: 100%
                        font-size: 16px
                        line-height: 22px

                    .footerLink
                        a
                            display: inline-block
                            padding: 5px 20px
                            padding-left: 0