// Hero Banner
#hero-banner-about-pg {
    padding:100px 0;
    margin-top:82px;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:70px 0;
    }
    // --------------------------------
    @media (max-width: $break_991) {
        padding:50px 0;
        margin-top:76px;
    }
    // --------------------------------
    @media (max-width: $break_767) {
        padding:24px 0 40px 0;
    }
    .content {
        padding-left:90px;
        // --------------------------------
        @media (max-width: $break_1080) {
            padding-left:0;
        }
        h1 {
            font-size:72px;
            line-height:84px;
            letter-spacing:-0.02em;
            font-weight:700;
            margin-bottom:24px;
            margin-top:45px;
            span {
                color:$primary-clr;
            }
            // --------------------------------
            @media (max-width: $break_1080) {
                font-size:52px;
                line-height:64px;
                margin-bottom:15px;
                margin-top: 35px;
            }
            // --------------------------------
            @media (max-width: $break_991) {
                font-size:42px;
                line-height:54px;
                margin-top:25px;
            }
            // --------------------------------
            @media (max-width: $break_767) {
                font-size:36px;
                line-height:44px;
                margin-top:0;
            }
        }
        p {
            margin-bottom:0;
            font-size:20px;
            line-height:26px;
            color:$grey2-clr;
            // --------------------------------
            @media (max-width: $break_1080) {
                font-size:16px;
                line-height:22px;
            }
            // --------------------------------
            @media (max-width: $break_767) {
                margin-bottom:20px;
            }
        }
    }
    img {
        max-width:100%;
        margin:auto;
    }
}

// About History
#about-pg-history {
    padding:100px;
    position: relative;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:50px;
    }
    // --------------------------------
    @media (max-width: $break_991) {
        padding:40px 30px;
    }
    // --------------------------------
    @media (max-width: $break_767) {
        padding: 40px 15px;
        max-width:100%;
    }
    &:after {
        content:'';
        position: absolute;
        top:0;
        left:0;
        border-radius:12px;
        background-color:$blue-bg-clr;
        width: 100%;
        height: calc(100% - 130px);
        z-index: -9;
        // --------------------------------
        @media (max-width: $break_1080) {
            height: calc(100% - 80px);
        }
        // --------------------------------
        @media (max-width: $break_991) {
            height:100%;
        }
        // --------------------------------
        @media (max-width: $break_767) {
            height: calc(100% - 70px);
            border-radius:0;
        }
    }
    img {
        border-radius: 20px;
        width:100%;
        // --------------------------------
        @media (max-width: $break_767) {
            border-radius:10px;
        }
    }
    .section-heading {
        padding-left:45px;
        margin-bottom: 0;
        // --------------------------------
        @media (max-width: $break_1280) {
            padding-left:0;
        }
        // --------------------------------
        @media (max-width: $break_767) {
            padding-left:0;
            margin-bottom:20px;
        }
        h2 {
            font-size:36px;
            line-height:44px;
            margin-bottom:32px;
            // --------------------------------
            @media (max-width: $break_1080) {
                font-size:32px;
                line-height:40px;
                margin-bottom:25px;
            }
            // --------------------------------
            @media (max-width: $break_991) {
                max-width:410px;
            }
            // --------------------------------
            @media (max-width: $break_767) {
                font-size:22px;
                line-height:28px;
                margin-bottom:15px;
            }
        }
    }
}

// Team
#about-pg-team {
    padding:100px 0 60px 0;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:60px 0 40px 0;
    }
    .section-heading {
        p {
            max-width:690px;
            display: inline-block;
        }
    }
    .content {
        max-width:1064px;
        margin:auto;
        .col-cus {
            margin-bottom:40px;
            // --------------------------------
            @media (max-width: $break_991) {
                margin-bottom:20px;
            }
        }
    }
}

// Approach
#about-pg-approach {
    padding:100px;
    background-color:$blue-bg-clr;
    border-radius:12px;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:70px 20px;
    }
    // --------------------------------
    @media (max-width: $break_767) {
        border-radius:0;
        padding:40px 15px;
        max-width:100%;
    }
    .section-heading {
        p {
            max-width: 400px;
        }
    }
    .bottom-pattern {
        position: absolute;
        bottom:0;
        left:15px;
        max-width:154px;
        // --------------------------------
        @media (max-width: $break_767) {
            display: none;
        }
        img {
            width:100%;
        }
    }
    .white-box {
        padding:30px;
        border-radius:12px;
        background-color:$white-clr;
        box-shadow: $shadow-1;
        display: flex;
        // --------------------------------
        @media (max-width: $break_767) {
            padding:20px 20px 20px 12px;
        }
        .img-sec {
            display: inline-block;
            width:95px;
            height:95px;
            border-radius:50%;
            // --------------------------------
            @media (max-width: $break_767) {
                width:50px;
                height:50px;
            }
            img {
                width: 100%;
                // --------------------------------
                @media (max-width: $break_767) {
                    width:50px;
                }
            }
        }
        .details-sec {
            width: calc(100% - 95px);
            padding-left: 30px;
            // --------------------------------
            @media (max-width: $break_767) {
                width:calc(100% - 50px);
                padding-left:15px;
            }
            h4 {
                margin-bottom:10px;
                font-size:24px;
                line-height:30px;
                font-weight:700;
                // --------------------------------
                @media (max-width: $break_767) {
                    font-size:18px;
                    line-height:24px;
                }
            }
            p {
                margin-bottom:0;
                font-size:16px;
                line-height:22px;
                // --------------------------------
                @media (max-width: $break_767) {
                    font-size:14px;
                    line-height:18px;
                }
            }
        }
    }
    .divider {
        margin:20px 0;
        text-align: center;
        // --------------------------------
        @media (max-width: $break_767) {
            margin:15px 0;
        }
        span {
            display: inline-block;
            img {
                width:14px;
                height:auto;
                // --------------------------------
                @media (max-width: $break_767) {
                    width:12px;
                }
            }
        }
    }
}

// Banner 2 & 3
#about-pg-banner2 {
    padding:100px 0;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:60px 0;
    }
    .container {
        max-width:1094px;
    }
    .divider {
        height:100px;
        // --------------------------------
        @media (max-width: $break_767) {
            height:40px;
        }
    }
    img {
        width:100%;
    }
    .section-heading {
        h2 {
            font-size:36px;
            line-height:44px;
            margin-bottom:32px;
            // --------------------------------
            @media (max-width: $break_1080) {
                font-size:32px;
                line-height:40px;
                margin-bottom:25px;
            }
            // --------------------------------
            @media (max-width: $break_991) {
                max-width:410px;
            }
            // --------------------------------
            @media (max-width: $break_767) {
                font-size:22px;
                line-height:28px;
                margin-bottom:15px;
            }
            span {
                color:$primary-clr;
            }
        }
    }
    .content1 {
        img {
            border-radius:12px;
        }
        .section-heading {
            padding-left:60px;
            // --------------------------------
            @media (max-width: $break_1080) {
                padding-left:20px;
            }
            // --------------------------------
            @media (max-width: $break_767) {
                padding-left:0;
            }
        }
    }
}

// Get In Touch
#get-in-touch {
    background-color:$white-clr;
    box-shadow:$shadow-1;
    padding:46px 100px;
    border-radius:20px;
    margin-bottom:100px;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:30px 50px;
    }
    // --------------------------------
    @media (max-width: $break_991) {
        padding:30px;
        margin-bottom:60px;
    }
    // --------------------------------
    @media (max-width: $break_767) {
        padding: 30px 15px;
        max-width: 100%;
        width: calc(100% - 30px);
    }
    img {
        width:100%;
    }
    .content {
        padding-left:50px;
        // --------------------------------
        @media (max-width: $break_767) {
            padding-left:0;
        }
        h2 {
            font-size:36px;
            line-height:44px;
            margin-bottom:60px;
            font-weight:700;
            // --------------------------------
            @media (max-width: $break_1080) {
                font-size:32px;
                line-height:40px;
                margin-bottom:20px;
            }
            // --------------------------------
            @media (max-width: $break_767) {
                font-size:22px;
                line-height:28px;
            }
        }
        h5 {
            font-size:16px;
            line-height:22px;
            margin-bottom:10px;
            font-weight:600;
            color:$primary-clr;
        }
        p {
            font-size:20px;
            line-height:26px;
            margin-bottom:0;
            // --------------------------------
            @media (max-width: $break_767) {
                font-size:16px;
                line-height:22px;
                margin-bottom: 20px;
            }
        }
        .divider1 {
            margin-bottom:20px;
        }
        .divider2 {
            margin-top:60px;
            // --------------------------------
            @media (max-width: $break_767) {
                margin-top:0;
            }
        }
    }
}

// About 2 Banner
#hero-banner-about2 {
    margin-top:122px;
    background-color:$blue-bg-clr;
    position: relative;
    border-radius:20px;
    text-align: center;
    padding:132px 15px;
    // --------------------------------
    @media (max-width: $break_767) {
        margin-top:76px;
        padding:64px 15px;
        border-radius: 0;
        max-width:100%;
    }
    .top-pattern {
        position: absolute;
        max-width:154px;
        left:40px;
        top:40px;
        // --------------------------------
        @media (max-width: $break_767) {
            max-width:68px;
            top:15px;
            left:15px;
        }
        img {
            width:100%;
        }
    }
    .bottom-pattern {
        position: absolute;
        max-width:100px;
        right:40px;
        bottom:40px;
        // --------------------------------
        @media (max-width: $break_767) {
            max-width:43px;
            right:15px;
            bottom:15px;
        }
        img {
            width:100%;
        }
    }
    h2 {
        margin:0;
        font-size:72px;
        line-height:84px;
        font-weight:700;
        // --------------------------------
        @media (max-width: $break_1080) {
            font-size:52px;
            line-height:64px;
        }
        // --------------------------------
        @media (max-width: $break_991) {
            font-size:42px;
            line-height:54px;
        }
        // --------------------------------
        @media (max-width: $break_767) {
            font-size:36px;
            line-height:44px;
        }
    }
}

// About History
#about-pg-history2 {
    padding:100px;
    position: relative;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:50px;
    }
    // --------------------------------
    @media (max-width: $break_991) {
        padding:40px 20px;
    }
    // --------------------------------
    @media (max-width: $break_767) {
        padding: 40px 15px;
        max-width:100%;
    }
    img {
        border-radius: 20px;
        width:100%;
        // --------------------------------
        @media (max-width: $break_767) {
            border-radius:10px;
        }
    }
    .section-heading {
        h2 {
            span {
                color:$primary-clr;
            }
        }
        p {
            a {
                color:$primary-clr;
            }
        }
    }
}

// Get Involved
#about-pg-2-involved {
    padding:100px;
    position: relative;
    // --------------------------------
    @media (max-width: $break_1080) {
        padding:50px;
    }
    // --------------------------------
    @media (max-width: $break_991) {
        padding:40px 30px;
    }
    // --------------------------------
    @media (max-width: $break_767) {
        padding: 40px 15px;
        max-width:100%;
    }
    &:after {
        content:'';
        position: absolute;
        top:0;
        left:0;
        border-radius:12px;
        background-color:$blue-bg-clr;
        width: 100%;
        height: calc(100% - 200px);
        z-index: -9;
        // --------------------------------
        @media (max-width: $break_767) {
            height: calc(100% - 100px);
            border-radius:0;
        }
    }
    img {
        border-radius: 20px;
        width:100%;
        // --------------------------------
        @media (max-width: $break_767) {
            border-radius:10px;
        }
    }
    .divider {
        height:90px;
        // --------------------------------
        @media (max-width: $break_767) {
            height:50px;
        }
    }
    .content2 {
        .section-heading {
            max-width:464px;
            h5 {
                max-width:316px;
                font-size:24px;
                line-height:30px;
                font-weight:700;
                margin-bottom:0;
                margin-top:60px;
                span {
                    color:$primary-clr;
                }
            }
        }
        .boxi {
            background-color:$white-clr;
            box-shadow:$shadow-1;
            border-radius:12px;
            padding:60px 40px;
            max-width:520px;
            margin-left:auto;
            // --------------------------------
            @media (max-width: $break_767) {
                padding:20px;
            }
            .btn-main {
                padding:14px 40px;
            }
        }
        .input-phone {
            .btn {
                position: relative;
                z-index: 9;
                background: transparent;
                margin-top: 2px;
                margin-left: 20px;
                font-weight: normal;
                font-size: 20px;
                border: none;
                padding: 0;
                height: 50px;
                line-height: 25px;
                // --------------------------------
                @media (max-width: $break_767) {
                    font-size:14px;
                    line-height:18px;
                }
                &:after {
                    display: none;
                }
                .caret {
                    position: relative;
                    border: none;
                    margin: 0;
                    width: auto;
                    height: auto;
                    &:after {
                        content: "\f107";
                        border: none;
                        font-family: FontAwesome;
                        font-size: 16px;
                        right: -10px;
                        top: -10px;
                        position: absolute;
                        vertical-align: unset;
                        margin: 0;
                    }
                }
            }
            .phoneNumber {
                font-size: 1em;
                line-height: 22px;
                padding: 5px 24px;
                background-color: #ffffff;
                color: #101010;
                border: 1px solid #DAE0E6;
                border-radius: 12px;
                padding-left: 130px;
                // --------------------------------
                @media (max-width: $break_767) {
                    font-size:14px;
                    line-height:18px;
                    padding-left: 100px;
                }
            }
            .dropdown-menu {
                min-width: 6.5rem;
                text-align: center;
                font-size: 20px;
                li {
                    display: inline;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }    
}