// Footer
.mainFooter {
  background-color: clr(light, outline);
  padding: 40px 0;

  @include md {
    padding: 20px 0;
  }

  .logo {
    @include md {
      display: block;
      text-align: center;
    }

    img {
      height: 80px;

      @include md {
        height: 60px;
      }
    }
  }

  .copyright {
    text-align: center;
    color: clr(primary, main);

    a {
      font-weight: bold;
      color: clr(secondary, main);
    }
  }

  .socialLinks {
    justify-content: end;

    @include md {
      justify-content: center;
    }
  }
}
