// Color
$colors: (
  primary: (
    main: #005e5b,
    hover: #004d4a,
    focus: #009c97,
    outline: #a0fffc,
  ),
  secondary: (
    main: #51acd6,
    hover: #1f80ad,
    focus: #53c4f8,
    outline: #9ee0ff,
  ),
  black: (
    main: #010101,
    hover: #212121,
    focus: #575757,
    outline: #c9c9c9,
  ),
  blue: (
    main: #0063f7,
    hover: #4583ff,
    focus: #7cacff,
    outline: #bdd9ff,
  ),
  light: (
    main: #ebebf0,
    hover: #f2f2f5,
    focus: #fafafa,
    outline: #ffffff,
  ),
);

@function clr($color, $value: main) {
  @return map-get(map-get($colors, $color), $value);
}
