// Size
$sz-80:80px;
$sz-44:44px;
$sz-36:36px;
$sz-32:32px;
$sz-24:24px;
$sz-22:22px;
$sz-20:20px;
$sz-18:18px;
$sz-16:16px;
$sz-15:15px;
$sz-14:14px;
$sz-12:12px;
$sz-10:10px;
$sz-5:5px;

$ff-montserrat: 'Montserrat', sans-serif;
$ff-amiri:'Amiri', serif;;

// Color
$no-clr: transparent;
$white-clr: #ffffff;
$clr-f7f7f7: #f7f7f7;
$black-clr: #000000;
$clr-151515:#151515;
$clr-AAAAAA:#AAAAAA;
$clr-999999:#999999;
$clr-C4C4C4:#C4C4C4;
$clr-EAE8E8:#EAE8E8;
$clr-2D4D91:#2D4D91;
$clr-013386:#013386;
$clr-00296D:#00296D;
$clr-00296D:#00296D;
$clr-1A4EA3:#1A4EA3;
$clr-0F3481:#0F3481;
$clr-FF0000:#FF0000;
$clr-F48080:#F48080;

// Media Queries
$break-1440: 1440px;
$break-1366: 1366px;
$break-1280: 1280px;
$break-1240: 1240px;
$break-1080: 1080px;
$break-1024: 1024px;
$break-991: 991px;
$break-850: 850px;
$break-767: 767px;
$break-550: 550px;

//@media (min-width: $break_767 + 1px) and (max-width: $break_1240) {}
/* Max Width 991px */
/* Max Width 1240px and Min 992px */
