/* ----- Dividers ----- */
.dividers {
    position: relative;
    z-index: 9;
    img {
        width: 100%;
        height: 36px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        /* Max Width 991px */
        @media (max-width: $break_991) {
            height: 20px;
        }
    }
}