// Font
$base-fz                :   16px !default;
$primary-ff             :   'helvetica-neue';

// Color
$no-clr                 :   transparent;
$white-clr              :   #ffffff;
$black-clr              :   #000000;
$black-light            :   #101010;
$grey-clr               :   #DAE0E6;
$grey2-clr              :   #7E8499;
$primary-clr            :   #F89829;
$secondary-clr          :   #1A4499;

// Shadow
$shadow-1               :   0px 10px 40px rgba(137, 153, 170, 0.2);

// Media Queries
$break_1440				:   1440px;
$break_1366				:   1366px;
$break_1280				:   1280px;
$break_1240				:   1240px;
$break_1200				:   1200px;
$break_1080				:   1080px;
$break_1024				:   1024px;
$break_991				:   991px;
$break_850				:   850px;
$break_767				:   767px;
$break_550				:   550px;

/* ----- Max Width 991px ----- */
// @media (max-width: $break_991) {}
/* ----- Max Width 767px ----- */
// @media (max-width: $break_767) {}