// Font
$ff-open-sans: 'Open Sans', sans-serif;
$ff-tinos:'Tinos', serif;

$sz-90:90px;
$sz-50:50px;
$sz-26:26px;
$sz-20:20px;
$sz-18:18px;
$sz-16:16px;
$sz-14: 14px;


// Colors
$no-clr: transparent;
$white-clr: #ffffff;
$clr-FAFAFA:#FAFAFA;
$clr-999999: #999999;
$clr-333335:#333335;
$black-clr: #000000;
$clr-A098FA: #A098FA;
$clr-7160FF:#7160FF;
$white-50:rgba($white-clr, 0.50);
$black-25:rgba($black-clr, 0.25);

// Box Shadow
$shadow-one: 0 4px 4px $black-25;

// Media Sizes
$break-1300: 1300px;
$break-1280: 1280px;
$break-1080: 1080px;
$break-991: 991px;
$break-767: 767px;

/*
@media (max-width: $break-767) {}
*/