// Hero Banner One
.hero-one {
    padding-top: 50px;
    .left-sec {
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-bottom: 24px;
        }
        .section-heading {
            h2 {
                font-size: 50px;
                line-height: 80px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 28px;
                    line-height: 38px;
                }
            }
        }
        .text-sec {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            /* Max Width 767px */
            @media (max-width: $break_767) {
                flex-direction: column-reverse;
            }
            p {
                margin-bottom: 0;
                max-width: 510px;
                /* Max Width 767px */
                @media (max-width: $break_767) {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .right-sec {
        text-align: right;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            text-align: center;
        }
        img {
            border-radius: 0 85px 0 25px;
        }
    }
}

// Mission One
.mission-one {
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .left-one {
        .img-sec {
            img {
                width: 100%;
            }
        }
    }
    .left-two {
        margin-top: 48px;
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-top: 24px;
        }
    }
    .right-two {
        margin-top: 48px;
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-top: 24px;
        }
        .blue-box {
            background-color: $primary-clr;
            text-align: center;
            padding: 30px 40px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                padding: 20px 25px;
            }
            h2 {
                font-size: 48px;
                line-height: 72px;
                margin-bottom: 0;
                font-weight: 400;
                color: $white-clr;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 26px;
                    line-height: 36px;
                }
                span {
                    font-weight: 700;
                    display: block;
                }
            }
        }
    }
}

// We Serve
.serve-one {
    padding-bottom: 80px;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding-bottom: 50px;
    }
    .section-heading {
        text-align: center;
        h2 {
            max-width: 600px;
            display: inline-block;
        }
        p {
            max-width: 1045px;
            display: inline-block;
        }
    }
    .icon-box {
        padding: 55px 25px 75px;
        background-color: $white-clr;
        border: 1px solid $primary-clr;
        text-align: center;
        margin-top: 48px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            margin-top: 24px;
            padding: 30px 15px 40px;
        }
        h5 {
            margin: 24px 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 44px;
            color: $clr-13201A;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin: 16px 0;
                font-size: 18px;
                line-height: 24px;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
            color: $clr-3D3D3D;
        }
    }
}

// Donation Ammount One
.donation-one {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4e4e4e;
        background: linear-gradient(180deg, #4e4e4e 0%, rgba(14, 60, 136, 0) 100%);
    }
    .left-sec {
        .blue-box {
            padding: 50px;
            background-color: $primary-clr;
            max-width: 570px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                padding: 30px 15px;
            }
            h3 {
                font-size: 32px;
                font-weight: 700;
                line-height: 50px;
                color: $white-clr;
                margin-bottom: 24px;
                text-align: center;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 16px;
                }
            }
            .short-ammount {
                ul {
                    border: 1px solid $white-clr;
                    li {
                        + li {
                            border-top: 1px solid $primary-clr;
                        }
                    }
                }
            }
            .enter-ammount {
                margin: 24px 0;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    margin: 16px 0;
                }
                h5 {
                    font-size: 16px;
                    /* Max Width 991px */
                    @media (max-width: $break_991) {
                        font-size: 14px;
                    }
                    a {
                        color: $white-clr;
                        display: inline-block;
                        text-decoration: underline;
                    }
                }
            }
            .donation-type {
                margin-bottom: 40px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    margin-bottom: 16px;
                }
                h5 {
                    font-size: 16px;
                    color: $white-clr;
                    /* Max Width 991px */
                    @media (max-width: $break_991) {
                        font-size: 14px;
                    }
                }
                ul {
                    border: 1px solid $white-clr;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        width: 50%;
                    }
                }
            }
        }
    }
    .right-sec {
        .section-heading {
            text-align: center;
            h2 {
                color: $white-clr;
                font-size: 66px;
                line-height: 85px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 32px;
                    line-height: 42px;
                }
                span {
                    color: $white-clr;
                }
            }
        }
    }
}

// Hero Banner Two
.hero-two {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 60px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4e4e4e;
        background: linear-gradient(180deg, rgba(78, 78, 78, 0) 0%, rgba(14, 60, 136, 0.6) 100%);
    }
    .section-heading {
        max-width: 700px;
        display: inline-block;
        color: $white-clr;
    }
}

// Collecting Fund One
.collecting-fund1 {
    margin-top: -40px;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        margin-top: -30px;
    }
    .content {
        background-color: $primary-clr;
        padding: 36px 74px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 16px 24px;
        }
        .left-sec {
            color: $white-clr;
            /* Max Width 767px */
            @media (max-width: $break_767) {
                text-align: center;
                margin-bottom: 16px;
            }
            h2 {
                font-size: 32px;
                font-weight: 400;
                line-height: 50px;
                margin-bottom: 10px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 22px;
                    line-height: 34px;
                }
            }
            p {
                margin-bottom: 0;
                max-width: 600px;
            }
        }
        .right-sec {
            text-align: right;
            /* Max Width 767px */
            @media (max-width: $break_767) {
                text-align: center;
            }
        }
    }
}

// Activity
.activity-one {
    padding: 80px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .section-heading {
        text-align: center;
        display: inline-block;
        max-width: 700px;
    }
    .icon-box {
        text-align: center;
        margin-top: 48px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            margin-top: 24px;
        }
        h5 {
            margin: 24px 0 10px;
            font-size: 24px;
            font-weight: 500;
            line-height: 44px;
            color: $clr-13201A;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin: 16px 0 10px;
                font-size: 18px;
                line-height: 24px;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
            color: $clr-3D3D3D;
        }
    }
}

// Empire
.empire-one {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 40px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4e4e4e;
        background: linear-gradient(180deg, rgba(0, 0, 1, 0.65) 50%, rgba($clr-0E3C88, 0) 100%);
    }
    .section-heading {
        color: $white-clr;
        h2 {
            max-width: 580px;
            display: inline-block;
        }
        p {
            max-width: 810px;
            display: inline-block;
        }
    }
    .range-slide {
        p {
            text-align: left;
            font-weight: bold;
            color: $white-clr;
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 12px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 16px;
                line-height: 18px;
            }
            input {
                color: $white-clr;
                background-color: $no-clr;
                font-weight: bold;
                border: none;
                padding: 0;
                max-width: 100px;
            }
        }
        #slider-range-one {
            margin-bottom: 40px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-bottom: 24px;
            }
        }
    }
}

// Donate For
.donate-one {
    background-color: $white-clr;
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .donate-shortlist {
        display: flex;
        justify-content: space-between;
        li {
            width: calc(33.333333% - 10px);
        }
    }
    .custom-ammount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white-clr;
        margin: 24px 0 40px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            margin: 16px 0 24px;
        }
        span {
            display: inline;
            width: 64px;
            text-align: center;
            /* Max Width 767px */
            @media (max-width: $break_767) {
                width: 40px;
            }
        }
        .form-control {
            width: calc(100% - 64px);
            /* Max Width 767px */
            @media (max-width: $break_767) {
                width: calc(100% - 40px);
            }
        }
    }
    .btn {
        width: 100%;
        max-width: 350px;
    }
    .section-heading {
        padding-left: 50px;
        margin-bottom: 0;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding-left: 0;
        }
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-bottom: 24px;
        }
        h2 {
            color: $primary-clr;
        }
    }
}

// Join Us One
.join-us-one {
    padding: 90px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .content {
        background-color: $primary-clr;
        text-align: center;
        padding: 80px 15px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
        .section-heading {
            color: $white-clr;
            max-width: 715px;
            margin: auto;
            margin-bottom: 38px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-bottom: 24px;
            }
            h2 {
                font-family: $secondary-ff;
                font-size: 40px;
                line-height: 52px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
}

// Global Poverty
.poverty-one {
    .content {
        color: $white-clr;
        background-color: $black-clr;
        padding: 50px 55px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 16px 24px;
        }
        .left-sec {
            /* Max Width 767px */
            @media (max-width: $break_767) {
                text-align: center;
                margin-bottom: 24px;
            }
        }
        .right-sec {
            @media (max-width: $break_767) {
                text-align: center;
            }
            p {
                margin-bottom: 30px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

// Worl Of Poverty
.poverty-two {
    padding-top: 60px;
    .section-heading {
        display: inline-block;
        max-width: 1000px;
        h2 {
            color: $primary-clr;
            display: inline-block;
            max-width: 650px;
        }
    }
}

// Provide
.provide-one {
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 60px 0;
    }
    .section-heading {
        max-width: 890px;
        h2 {
            color: $primary-clr;
        }
        p {
            b {
                font-size: 125%;
            }
        }
    }
    ul {
        li {
            position: relative;
            padding-left: 40px;
            font-size: 18px;
            line-height: 1.6;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 16px;
                padding-left: 30px
            }
            &:before {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: $clr-3D3D3D;
            }
            + li {
                margin-top: 15px;
            }
        }
    }
    .icon-box {
        img {
            max-width: 80px;
            +h5 {
                margin-top: 12px;
            }
        }
        h5 {
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 44px;
            color: $clr-13201A;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 18px;
                line-height: 24px;
            }
            +p {
                margin-top: 8px;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
            color: $clr-3D3D3D;
        }
    }
}

// Donation Ammount Two
.donation-two {
    padding-bottom: 100px;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding-bottom: 50px;
    }
    .bg-blue {
        background-color: $primary-clr;
        padding: 70px 50px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
    }
    .left-sec {
        .blue-box {
            max-width: 470px;
            h3 {
                font-size: 32px;
                font-weight: 700;
                line-height: 50px;
                color: $white-clr;
                margin-bottom: 24px;
                text-align: center;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 16px;
                }
            }
            .short-ammount {
                ul {
                    border: 1px solid $white-clr;
                    li {
                        + li {
                            border-top: 1px solid $primary-clr;
                        }
                    }
                }
            }
            .enter-ammount {
                margin: 24px 0;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    margin: 16px 0;
                }
                h5 {
                    font-size: 16px;
                    /* Max Width 991px */
                    @media (max-width: $break_991) {
                        font-size: 14px;
                    }
                    a {
                        color: $white-clr;
                        display: inline-block;
                        text-decoration: underline;
                    }
                }
            }
            .donation-type {
                h5 {
                    font-size: 16px;
                    color: $white-clr;
                    /* Max Width 991px */
                    @media (max-width: $break_991) {
                        font-size: 14px;
                    }
                }
                ul {
                    border: 1px solid $white-clr;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        width: 50%;
                    }
                }
            }
        }
    }
    .right-sec {
        padding-left: 80px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding-left: 0;
        }
        .section-heading {
            color: $white-clr;
        }
        img {
            width: 100%;
        }
    }
}

// Dedication
.dedication-one {
    padding-bottom: 100px;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding-bottom: 50px;
    }
    .section-heading {
        margin-bottom: 0;
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-bottom: 24px;
        }
        h2 {
            color: $primary-clr;
        }
    }
    .blue-bg {
        padding: 50px;
        background-color: $primary-clr;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
        .radio-four {
            display: inline-block;
            margin-right: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

// Static One
.static-one {
    .section-heading {
        display: inline-block;
        max-width: 830px;
    }
}

// Hero Banner Four
.hero-four {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 60px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-clr, 0.6);
    }
    .section-heading {
        max-width: 590px;
        display: inline-block;
        color: $white-clr;
        p {
            + .btn {
                margin-top: 60px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    margin-top: 24px;
                }
            }
        }
    }
    .right-sec {
        padding: 0 50px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 0;
        }
        .head-sec {
            padding: 35px 45px;
            color: $white-clr;
            background-color: $clr-353535;
            text-align: center;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                padding: 16px 24px;
            }
            h4 {
                margin-bottom: 0;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        .body-sec {
            padding: 24px;
            background-color: $white-clr;
            .donate-shortlist {
                display: flex;
                justify-content: space-between;
                li {
                    width: calc(33.333333% - 10px);
                }
            }
            .custom-ammount {
                margin: 20px 0;
                .form-control {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22px;
                    padding: 20px;
                    color: $clr-454545;
                    background-color: $clr-f7f7f7;
                    /* Max Width 991px */
                    @media (max-width: $break_991) {
                        font-size: 14px;
                        line-height: 18px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

// Food Power
.food-power1 {
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
}

// Static Two
.static-two {
    padding: 65px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h4 {
        font-weight: 22px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
        max-width: 1230px;
        display: inline-block;
        color: $white-clr;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            font-size: 18px;
            line-height: 26px;
        }
    }
}

// Packages
.packages-one {
    padding: 80px 0;
    background-color: $clr-f3f7ff;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .section-heading {
        max-width: 750px;
        display: inline-block;
        h6 {
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            padding: 20px 35px;
            margin-bottom: 0;
            color: $yellow-clr;
            display: inline-block;
            min-width: 268px;
            background-image: url(../images/heading-ptrn1.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                padding: 0 35px;
                line-height: 34px;
            }
        }
        h2 {
            color: $primary-clr;
        }
    }
    .donate-box {
        margin-top: 34px;
        background-color: $white-clr;
        padding: 55px;
        text-align: center;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 24px 16px;
            margin-top: 24px;
        }
        h1 {
            font-size: 64px;
            font-weight: 700;
            line-height: 96px;
            color: $primary-clr;
            margin-bottom: 22px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 30px;
                line-height: 44px;
                margin-bottom: 16px;
            }
        }
        p {
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            margin-bottom: 30px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 24px;
            }
        }
    }
}

// Mackup
.mackup-one {
    padding: 80px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .section-heading {
        padding: 30px;
        margin-bottom: 0;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 0;
        }
        /* Max Width 767px */
        @media (max-width: $break_767) {
            margin-bottom: 24px;
        }
    }
    .img-one {
        text-align: right;
        margin-bottom: 50px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            margin-bottom: 24px;
        }
    }
}

// Join Us Two
.join-us-two {
    .content {
        background-color: $clr-f3f7ff;
        text-align: center;
        padding: 80px 15px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
        .section-heading {
            max-width: 715px;
            margin: auto;
            margin-bottom: 38px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-bottom: 24px;
            }
            h2 {
                font-size: 40px;
                line-height: 52px;
                color: $primary-clr;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            p {
                color: $clr-454545;
            }
        }
    }
}


// Full Banner
.full-banner1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black-clr, 0.6);
    }
    // Hero Banner Five
    .hero-five {
        padding: 150px 0;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 60px 0;
        }
        .section-heading {
            color: $white-clr;
            max-width: 710px;
            h2 {
                span {
                    background-image: none;
                    padding: 0;
                }
            }
            p {
                + .btn {
                    margin-top: 60px;
                    /* Max Width 991px */
                    @media (max-width: $break_991) {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}

// Static Three
.static-three {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 40px 0;
    }
    .section-heading {
        color: $white-clr;
        max-width: 820px;
        display: inline-block;
    }
}

// Packages Two
.packages-two {
    padding: 80px 0;
    background-color: $white-clr;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .section-heading {
        max-width: 750px;
        display: inline-block;
        h2 {
            color: $primary-clr;
        }
    }
    .donate-box {
        margin-top: 56px;
        background-color: $clr-f7f7f7;
        padding: 85px 45px 55px 45px;
        text-align: center;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 36px 16px 24px 16px;
            margin-top: 24px;
        }
        h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            color: $primary-clr;
            margin-bottom: 32px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                font-size: 30px;
                line-height: 44px;
                margin-bottom: 16px;
            }
        }
        p {
            margin-bottom: 30px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-bottom: 24px;
            }
        }
    }
}

// Join Us Three
.join-us-three {
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 40px 0;
    }
    .content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 80px 15px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
        .section-heading {
            margin-bottom: 38px;
            color: $white-clr;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-bottom: 24px;
            }
        }
        form {
            padding: 0;
        }
    }
}

// Join Us Four
.join-us-four {
    padding: 100px 0;
    /* Max Width 991px */
    @media (max-width: $break_991) {
        padding: 50px 0;
    }
    .content {
        background-color: $clr-e9f0ff;
        padding: 80px 70px;
        /* Max Width 991px */
        @media (max-width: $break_991) {
            padding: 30px 15px;
        }
        .section-heading {
            max-width: 1025px;
            margin-bottom: 38px;
            /* Max Width 991px */
            @media (max-width: $break_991) {
                margin-bottom: 24px;
            }
            h2 {
                font-size: 40px;
                line-height: 52px;
                color: $primary-clr;
                /* Max Width 991px */
                @media (max-width: $break_991) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        .newsletter {
            margin-left: 0;
        }
    }
}