// Donate Card One
.donateCardOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: clr(light, outline);
  background-color: clr(primary, main);
  border-radius: 6px;
  padding: 32px 15px;
  text-align: center;
  min-height: 250px;

  @include md {
    min-height: unset;
  }

  p {
    margin-bottom: 0;
  }

  h1 {
    margin-bottom: 0;
    color: inherit;
  }
}
