// About One
.aboutOne {
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;

  @include md {
    padding: 40px 0;
  }

  .content {
    background-color: rgba(clr(primary, main), 0.15);
    padding: 24px;

    .sectionTitle {
      h1 {
        color: clr(secondary, main);
      }

      .btnSec {
        .btn {
          width: 100%;
          max-width: max-content;

          @include md {
            max-width: 100%;
          }
        }
      }
    }

    .imgSec {
      img {
        width: 100%;
      }
    }
  }
}
