// Logo
.logo {
  display: inline-block;
  line-height: 0;

  img {
    height: 60px;

    @include lg {
      height: 50px;
    }
  }
}

// Social Links
.socialLinks {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    color: clr(primary, main);
    transition: 0.6s all;

    svg {
      fill: clr(primary, main);
      width: 18px;
    }

    &:hover {
      color: clr(primary, main);

      svg {
        fill: clr(primary, hover);
      }
    }
  }
}
